extends layouts/main.pug

block content
  h1 Standup Bot Dashboard
  ul
    each standup, standup_id in standups
      li
        a(href=`/standups/remove/${standup_id}`) Delete Standup
        div= standup.created_at
        ul
          each conversation in standup.conversations
            li
              = conversation.userName
              ul
                each question in conversation.conversation
                  li= `${question['question']} ${question['answer']}`
